<!doctype html>
<html lang="en">
 {% include 'header.html' %}

    <!-- Blog -->
    <body>
        <div class="container-fluid col-lg-8 justify-content-center">
            <div class="container-fluid row blog-post">
              <h3 class='blog-head'>Articles <i class="fas fa-newspaper"></i></h3>
                {% for item in data: %}
                <div class="card col-lg-6" id="blog-card">
                    <div class="card-body">
                      <h5 class="card-title">{{ item['title'] }}</h5>
                      <p class="card-text" id='blog-desc' >{{ item['description']|striptags }}</p>
                      <p class="card-text"><small class="text-muted">{{ item['sent_at'].split('T')[0] }}</small></p>
                    </div>
                    <img class='card-image-bottom' alt="Newsletter Image" src="https://s3.amazonaws.com/revue/items/images/011/096/178/original/Anubis-Egyptian-Book-of-the-Dead.jpg?1631635524">
                    <a href="{{url_for('blogpost', num=item['id']) }}" class="btn btn-dark blog-button">Read Post</a>
                </div>
                {% endfor %}
            </div>

            <!-- Revue - Subscription -->
            <div id="revue-embed">
            <form action="https://www.getrevue.co/profile/xSpace/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
            <div class="revue-form-group">
              <label for="member_email">Email address</label>
              <input class="revue-form-field" placeholder="Your email address" type="email" name="member[email]" id="member_email">
            </div>
            <div class="revue-form-actions">
              <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
            </div>
            <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.
            </div>
            </form>
            </div>
        </div>
        

    {% include 'footer.html' %}
    </body>
</html>

