<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body>
    <!-- Beginner -->
    <div class='container-fluid row col-lg-6 col-xxl-12 col-xl-12'>
        <h3 class='pro-heading'>Beginner <i class="fas fa-feather"></i></h3>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="static/images/Watermark.gif" class="card-img-top" alt="Image watermark">
                <div class="card-body">
                    <h5 class="card-title">Image Watermark</h5>
                    <p class="card-text">
                      GUI application that helps you create a Text watermark or a Logo on a selected image.
                    </p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">TKinter</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Pillow</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">OOP</span>
                    </p>
                    <a href="https://github.com/snehangsude/ImageWatermark" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="static/images/Hangman.PNG" class="card-img-top" alt="Hangman image">
                <div class="card-body">
                    <h5 class="card-title">Hangman</h5>
                    <p class="card-text">The famous Hangman game in a GUI application. Uses a random word generator API 
                        to generate word.
                    </p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">TKinter</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">OOP</span>
                    </p>
                    <a href="https://github.com/snehangsude/Hangman" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="https://raw.githubusercontent.com/snehangsude/TypingTest/master/images/TT1.PNG" class="card-img-top" alt="Typing Test image">
                <div class="card-body">
                    <h5 class="card-title">Typing Test</h5>
                    <p class="card-text">GUI application - Test you typing speed based on a random text.</p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">TKinter</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">OOP</span>
                    </p>
                    <a href="https://github.com/snehangsude/TypingTest" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="https://raw.githubusercontent.com/snehangsude/Breakout/master/images/Watermark.gif" class="card-img-top" alt="Breakout gif">
                <div class="card-body">
                    <h5 class="card-title">The Breakout Game</h5>
                    <p class="card-text">The Breakout Game in Python using the Turtle module.</p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Turtle</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">OOP</span>
                    </p>
                    <a href="https://github.com/snehangsude/Breakout" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="https://raw.githubusercontent.com/snehangsude/MorseCodeConverter/master/images/Morse.gif" class="card-img-top" alt="Morse Convertor gif">
                <div class="card-body">
                    <h5 class="card-title">Morse Code Convertor</h5>
                    <p class="card-text">A Text to Morse to Text convertor. Made using all Morse letters.</p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">TKinter</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">OOP</span>
                    </p>
                    <a href="https://github.com/snehangsude/MorseCodeConverter" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Advanced -->
    <div class='container-fluid row col-lg-6 col-xxl-12 col-xl-12'>
        <h3 class='pro-heading'>Advanced <i class="fas fa-dumbbell"></i></h3>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="static/images/SCADrib_vs_SCAPass.PNG" class="card-img-top" alt="SCADribbles vs SCAOpen-Play Passes">
                <div class="card-body">
                    <h5 class="card-title">SCA from Dribbles vs SCA Open-Play Passes</h5>
                    <p class="card-text">Visualizing the Right Backs in the Top Five Leagues 2020-2021 based 
                        on Shot Creating Actions in Dribbles VS Open Play per 90 minutes.
                    </p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Matplotlib</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Pandas</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Jupyter</span>
                    </p>
                    <a href="https://github.com/snehangsude/Football-Visualizations/blob/main/Top%205%20Leagues.ipynb" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
        <div class='proj col-lg-4 col-xxl-4 col-xl-4'>
            <div class="card">
                <img src="static/images/Portfolio.PNG" class="card-img-top" alt="Portfolio Image">
                <div class="card-body">
                    <h5 class="card-title">Portfolio Website</h5>
                    <p class="card-text">A Portfolio website hosted in Heroku using Flask as a Backend application
                        and the Revue API to integrate data.
                    </p>
                    <p class='tags'>
                        <span class="badge rounded-pill text-warning border border-warning">Python</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">HTML</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">Bootstrap5</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">CSS</span>
                        <span class="badge rounded-pill text-warning border border-warning lg-3">JavaScript</span>
                    </p>
                    <a href="https://github.com/snehangsude/Heroku-Portfolio.git" type="button" class="btn btn-dark btn-lg proj-button" target="_blank">View in GitHub</a>
                </div>
            </div>
        </div>
      
    </div>
    <div class='col-lg-12 pro-button'>
        <a href="{{ url_for('blog') }}" type="button" class="btn btn-dark btn-lg resume-button"><i class="fas fa-blog"></i> Visit Blog</a>
    </div>




    <hr>
    {% include 'footer.html' %}


  </body>
</html>
